.join {
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  transition: ease-in-out 0.5s;
}

.join a:hover {
  background: #012085;
  color: white;
}
.join .logout:hover {
  background: #012085;
}

.join .logout,
.log-in,
.sign-up {
  background: #0a1c57;
  padding: 1px 5px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  border: 1px #01ffe2 solid;
  margin: 5px;
}
.join-links .log-in,
.sign-up {
  margin: 0;
}
.join-btns {
  transition: ease-in-out 0.5s;
  z-index: 2;
}
.move-join {
  transform: translateX(93px);
  width: 159px;
  top: 10px;
  right: 25px;
  z-index: 2;
}
.middle-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
