.developers-container {
  background: #f5f8f3;
  border-radius: 15px;
  padding: 0 40px;
}
.developers-container img {
  height: 100px;
  width: 100px;
}
.developers-container .developer-list-title {
  color: var(--main-text-color);
  border-bottom: 1px #033e95 solid;
  padding-bottom: 8px;
  /* background: #5c75ff; */
  margin: 0 35px;
  align-self: center;
}
.developers-container .take-actions .view {
}
.developers-container .take-actions .hire-me {
}
