.create-post{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.create-post form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #3f51b5;
    padding: 5px;
    border: 1px #ffffff solid;
    border-radius: 10px;
}

.create-post form input{   
    padding: 5px;
    border-radius: 5px;
    width: 90%;
 
}
.create-post form textarea{
     padding: 5px;
    height: 220px;
    width: 90%;
    border-radius: 10px;
}.create-post form input,.create-post form textarea{
    outline: none;
     font-size: 20px;    
     
    color: #01a74b;
 
    border: 1px #04ff75 solid;
}