.profile-parent {
  background: var(--main-bg-color);

  margin: auto;

  margin-top: 45px;
  height: calc(100vh -45px);
  width: 100%;
}
.dev-profile {
  padding: 0 0 50px 0;
  margin: auto;
  margin-top: 45px;
}
.social-media-parent,
.about-me-parent,
.skills {
  box-shadow: var(--main-box-shadow);
  background: var(--main-bg-color);
}
.user-name {
  text-align: center;
  font-family: serif;
  color: #795548;
}
.profile-info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: #f5f8f3;
}
.profile-info .img-container {
  margin: 10px 0;
  width: 200px;
  height: 200px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.profile-info .img-container img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px rgb(0, 45, 248) solid;
}
.img-container {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px rgb(0, 211, 248) solid;
}

.about-me-parent {
  width: 100%;
  padding: 5px;
  position: relative;
  border-radius: 10px;
  margin: 10px;
  box-shadow: var(--main-box-shadow);
  background: var(--main-bg-color);
}
.social-media-parent {
  width: 100%;
  padding: 5px;
  position: relative;
  /* box-shadow: 0px 0px 11px -7px; */
  border-radius: 10px;
  margin: 10px;
}
.social-media-parent .social-media-icon {
  font-size: 45px;
}
.social-media-parent li {
  display: flex;
  justify-content: space-between;
}
.social-media-parent .f {
  color: blue;
}
.social-media-parent .y {
  color: red;
}
.social-media-parent .t {
  color: rgb(6, 193, 255);
}
.social-media-parent .tel {
  color: rgb(214, 10, 71);
  /* background-color: rgb(0, 195, 255); */
  /* border-radius: 50%; */
}
.profile-init {
  position: relative;
  background: var(--main-bg-color);
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile-init div {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-init .about-me-title {
  font-family: sans-serif;
  border-bottom: 2px #458347 solid;
  width: max-content;
  text-align: center;
  padding: 5px 15px;
}
label {
  font-size: 23px;
  margin: 5px;
  color: rgb(247, 85, 27);
}
.profile-init input,
textarea {
  border: var(--main-input-border);
  padding: 5px;
  border-radius: 5px;
  background: #ffffff;
}
.profile-init input,
textarea {
  color: rgb(105, 120, 209);
  font-size: 20px;
  font-family: monospace;
  font-weight: 600;
}
.profile-init textarea {
  height: 100px;
  width: 100%;
  resize: none;
  outline: none;
}
.edit-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 4px;
  background-color: honeydew;
  color: #4caf50;
}
