.sidebar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 32px;
  background: #edf2e8;
  border-radius: 10px;
  padding: 5px;
}
.sidebar-items a,
.logout {
  margin: 5px;
  background-color: rgb(250 255 254);
  border-radius: 5px;
  padding: 3px;
  width: 75%;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: dashed;
  font-weight: 600;
  color: #747b97;
  border: 1px #009688 solid;
  transition: all 0.5s;
}

.sidebar-items a:hover {
  color: white;
  letter-spacing: 5px;
  background-color: #009688;
}
.view-profile {
  background-color: #009688;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.profile-icon {
  position: absolute;
  top: 45px;
  left: 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
