.jobs-parent {
  padding: 10px;
  background-color: #edf2e8;
  border-radius: 10px;
  height: 70vh;
}
.high-paying-jobs-title {
  color: #03a9f4;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: monospace;
  padding: 5px;
  margin-top: 10px;

  /* border-top: 3px #11a876 solid; */
  border-radius: 20px;
}
.slider-spinner{
      width: 90%;
    height: 90%;
    border-radius: 5px;
    margin: auto;
    background: #edf2e8;
}
.slider {
  height: 55vh;
  overflow: hidden;
  border-radius: 20px;
  border-top: 1px #3f51b5 solid;
  border-bottom: 1px #3f51b5 solid;
  display: flex;
  position: relative;
  background-color: rgb(249 251 247);
}
.slide {
  transition: all ease-in-out 1s;
}
.slider {
  overflow: hidden;
}
.hight-pay-job-img {
  /* height: 200px;
  width: 200px; */
  border-radius: 20px;
}
.jobs-parent .company-name {
  margin: 10px;
  text-align: center;
}
.High-paying-job-description {
}
