.latest-jobs {
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 10px;
    gap: 10px;
    position: relative;
}
@media only screen and (max-width: 800px){
  .latest-jobs{   grid-template-columns: 49% 49%;}
}
.errors {
  /* background: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 66px;
}
.job-date{
    color: #ffc107;
    background: darkblue;
    padding: 0 5px;
    font-size: 13px;
    min-width: fit-content;
    border-radius: 5px; 
}
.errors h5 {
  z-index: 999;
  margin: 5px;
  padding: 5px;
  box-shadow: var(--main-box-shadow);
  border-radius: 10px;
}
 .msg {
top: 15vh;
    position: fixed;
    place-self: center;
    z-index: 9999;
     
    background: #ffffff;
    width: -moz-fit-content;
 
    box-shadow: var(--main-box-shadow);
    color: #0fc962;
    border-radius: 10px;
    transform: scale(1.5);
    padding: 0 5px;
 
}

.job-list-title {
  color: #006d77;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  margin: 5px;
}
.job-title-container {
  color: #000000;
  text-align: center;
  font-family: serif;
}
.job-container .job-title {
    background: #3f51b5;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    padding-right: 15px;
}

.job-container .name {
  transition: all 0.5s;
color: blue;
font-weight: 600;
}
.pointer-parent{
     box-shadow: 0 0 15px -2px #0a1c57;
    transform: scale(1.2);
    position: absolute;
    top: 3px;
    background: white;
    width: fit-content;  
    width: fit-content;
    border-radius: 5px;    z-index: 999;
    background: #ffffff;
}
.show-profile{
  transition: all 0.5s;
  color: #212121;    font-size: 12px;
 z-index: 999;
}
.pointer{
        width: 13px;
    height: 13px;
    position: absolute;
    left: 56px;
    top: 18px;
    background: #ffffff;
    transform: rotate(45deg);
}

.job-container {
padding: 10px;
    background-color: #f9fbf7;
    margin: 5px;
    border-radius: 10px;
    padding-top: 3px;
    box-shadow: var(--main-box-shadow);
}
.job-container p {
  height: 80px;
  width: 100%;
  padding: 3px;
  overflow: hidden;
  margin: 5px;
  border-radius: 5px;
}
.latest-jobs-options{
      right: 23px;
    width: 4px;
    top: 2px; position: absolute;
}
.latest-jobs-options .icon:hover{
      background-color: green;
}
.latest-jobs-options .icon{
    cursor: pointer;
  transition: all 0.5s;
  color: #ffffff;
  border-radius: 5px;
 
}
.job-container p::first-letter {
  font-size: large;
  color: rgb(0, 17, 255);
  font-family: sans-serif;
  font-weight: 6000;
}

.logo-container .logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.job-marker {
  width: 41px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #029b27;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.job-container .salary {
color: #00ff72;
    padding: 2px;
    background: #685d3c;
    font-weight: 600;
    width: fit-content;
    border-radius: 5px;
}

.footer {
  background: #edf2e8;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.pagin{
      align-items: center;
    justify-content: center;
}
.footer button {
  padding: 0 4px;
  margin: 5px;
  border-radius: 5px;
  border: none;

  color: white;
  font-weight: 600;
  font-family: ui-sans-serif;
}
.footer button.details {
  background: #008bf9;
}
.footer button.details:hover {
  background: #45abff;
}
.footer button.apply {
  background-color: blue;
}
.footer button.apply:hover {
  background-color: rgb(70, 70, 252);
}
.page-number,
.arrow{
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
}
 
.disabled{
      background: rgb(194, 194, 194);
    /* cursor: not-allowed; */
    pointer-events: none;
  
}
.active{
      background: #0d6efd;
    color: white;
}
.active:hover{
   background: #0d6efd;
    color: white;
}
@media only screen and (max-width: 600px) {
  .latest-jobs {
    grid-template-columns: 99%;
  }
}