.single-job {
  justify-content: center;
   min-height: 100vh;
  margin: 0;
  margin-top: 37px;
}

.single-job .experience-needed , .single-job .education, .single-job .perks .single-job .working-days{
     display: flex;
    flex-direction: column;
     margin: 5px;
    color: #795548;
}
.single-job .experience h6,
 .single-job .education h6,
  .single-job .perks h6,
  .single-job .working-days h6{
 font-weight: bold;
}
.single-job .perks li{
font-weight: 600;
color: rgb(0, 197, 33);
letter-spacing: 3px;
list-style-type: none
}
 

.single-job .working-days li{
font-weight: 600;
 letter-spacing: 1px;
list-style-type: none
}
.single-job div {
  background: var(--main-child-bg-color);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  height: fit-content;
}
.single-job .details{
  background: transparent;
}
.single-job .details div{
     box-shadow: var(--main-box-shadow);
    min-height: 160px;
}
.single-job .more-details{
background-color: var(--main-bg-color);
}
.single-job .more-details h4{
  color: green;
 }
 .more-details .right{
  background: var(--main-child-bg-color);

 }
 .more-details .left{
  background: var(--main-child-bg-color);

 }

 .single-job .work-place{
       background: #0fc962;
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-size: 15px;

 }
 .header{
   position: relative;
   padding-right: 10px;
 }
 /* .single-job .apply-btn{
   position: absolute;
   left: 0; bottom: 0;
  } */
 .single-job .header .title
 {
color: rgb(0, 197, 33);

 }