.jobs-parent {
  margin: auto;
  justify-content: space-around;
  /* padding-top: 45px; */
  position: relative;
  height: auto;
}
.job-list-title {
  color: #03a9f4;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: cursive;
  font-size: 38px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border-bottom: 1px #03a8f4 solid;
}
.job-container {
  padding: 10px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}
.high-paying-jobs-title {
  color: #03a9f4;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: monospace;
  padding: 5px;
  margin-top: 10px;

  border-top: 2px #000312 solid;
  border-radius: 40px;
}

.slider {
  overflow: hidden;
  border-radius: 40px;
  border-bottom: 4px #000312 solid;
}
.slide {
  transition: all ease-in-out 1s;
}

.latest-jobs {
  background: var(--main-first-child-bg-color);
  border-radius: 10px;
  border-top: 1px #03a8f4 solid;
  margin-top: 40px;
}
